.header-login {
    height: 176px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-login > a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.header-login > a > p {
    font-size: 32px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header-login > a > img {
    height: 80px;
    width: 80px;
}

.header-login > p {
    font-weight: 600;
    font-size: 48px;
}

.form-login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 450px;
    height: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #ccc;
}

.form-login .title-form {
    font-size: 32px;
    font-weight: 600;
}

.form-login > input {
    width: 70%;
    height: 32px;
    font-size: 11pt;
}

.form-login > button {
    width: 70%;
    height: 32px;
    background-color: #9fe2fc;
    border: none;
    font-size: 13pt;
}

.login-body {
    background-color: aqua;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}