.trai {
  background-color: whitesmoke;
  width: 15%;
  height: 700px;
  float: left;
}
.giua {
  height: 700px;
  width: 70%;
  float: left;
}
.giuatrai {
  padding: 20px, 20px, 20px, 20px;
  height: 700px;
  width: 50%;
  float: left;
}
.anhproduct {
  border: 1px solid;
  border-color: #d2d2d2;
  width: 100%;
  height: 500px;
}
.giuaphai {
  padding: 20px, 20px, 20px, 20px;
  text-align: left;
  height: 700px;
  width: 50%;
  float: right;
}
p {
  padding-left: 10px;
}
.phai {
  background-color: whitesmoke;
  width: 15%;
  height: 700px;
  float: right;
}
#gb {
  font-weight: bold;
  color: black;
}
#gb1 {
  color: #d2d2d2;
  text-decoration-line: line-through;
}
#gg {
  font-weight: bold;
  color: red;
}
#mt {
  border-top: 1px solid;
  border-color: #d2d2d2;
}
